<!DOCTYPE html>
<html data-ng-app="demoApp">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Learning Angular Js.</title>
</head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/angular-chart.css">
<script>
  console.log({{ datas | safe }})
  var datas1 = {{ datas | safe }}
  console.log(datas1)
</script>

<body>
  <div class="row">
    <div class="col-md-8">

      <a class="btn btn-default" href="/" role="button">Link</a>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href="/temp/#/view1" button type="button" class="btn btn-primary">Primary</a>

      <!-- Indicates a successful or positive action -->
      <a href="/temp/#/view2" button type="button" class="btn btn-success">Success</a>

      <!-- Contextual button for informational alert messages -->
      <a href="/temp/#/view3" button type="button" class="btn btn-info">Info</a>

      <!-- Indicates caution should be taken with this action -->
      <a href="/temp/#view4" button type="button" class="btn btn-warning">Warning</a>

      <!-- Indicates a dangerous or potentially negative action -->
      <button type="button" class="btn btn-danger">Danger</button>

      <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
      <button type="button" class="btn btn-link">Link</button>


    </div>
    <div class="col-md-2">

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>


  <div>
    <div data-ng-view=""></div>
  </div>

  <!--
   <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!--
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
-->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular-animate.js"></script>

  <script src="/static/js/angular-route.min.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script src="/static/js/angular-chart.js"></script>

</body>

</html>
